html, body {
    height: 100%;
}


.panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

section:not(.first) {
    opacity: 0;
    visibility: hidden;
/*    transform: scale(0.9);*/
} 
